/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 81%;
  position: relative;
  top: 0;
  left: 19%;
  background-color: #22262F;
  height: 150vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: black;
  background-color: yellow;
}

.btn-white {
  color: black;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.info_dash{
  width: 90%;
  height: 40vh;
  align-self: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
  
}

.card_kpi{
  width: 45%;
  height: 40vh;
  background: rgb(46,50,60);
  background: linear-gradient(0deg, rgba(46,50,60,1) 39%, rgba(75,78,87,1) 100%);
  -webkit-box-shadow: 8px 8px 124px -96px rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  border-radius: 40px;
}

#graficos{
  background-color: #2E323C;
  border-radius: 40px;
  width: 90%;
  height: 90vh;
  position: relative;
  -webkit-box-shadow: 8px 8px 124px -96px rgba(255,255,255,1);
}

.refazer{
  background-color: #2E323C;
  border-radius: 40px;
  width: 48%;
  align-self: center;
  height: 20vh;
  position: relative;
  -webkit-box-shadow: 8px 8px 124px -96px rgba(255,255,255,1);
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 24%; */
}

.refazeres{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-refazer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  height: 15vh;
  text-decoration: none;
  color: white;
  align-items: center;
}

.content-refazer h2{

}

.content-refazer:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.content-refazer1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  height: 15vh;
}

.header-left img{
  margin-left: 20px;
  margin-top: -18px;
  cursor: pointer;
}

.sabre{
  width: 100%;
  height: 55vh;
  position: absolute;
}

.sabre img{
  width: 30%;
  height: 44vh;
  position: absolute;
  z-index: 9;
  left: 74%;
  top: -40px;
}

#sabre2{
  width: 35%;
  height: 49vh;
}

.header-card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  color: white;
  width: 80%;
  align-self: center;
  flex-direction: column;
}

@font-face {
  font-family: "Star Wars";
  src: url(../assets/star_jedi/starjedi/Starjedi.ttf);
}

.header-card p{
  font-family: Star Wars;
  font-weight: 100;
  font-size: larger;
  
}

.img-kpi{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 2%;
}

#bigNumber{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header_dash{
  width: 100%;
  height: 14vh;
  color: white;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-header{
  display: flex;
  flex-direction: column;
}

.header-header span{
  width: 100%;
}

.header_dash span{
  margin-left: 20%;
  margin-bottom: 1%;
}

.header_dash h2{
  margin-left: 20%;
  margin-bottom: 1%;
}



#grafico_personalidade{
  height: 60vh !important;
  width: 50% !important;
  align-self: center;
}

.header_perso{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.header_perso p{
  color: white;
  margin-right: 95px;
}