*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: "Star Wars";
  src: url(../assets/star_jedi/starjedi/Starjedi.ttf);
}

.principal{
    width: 100%;
    height: 100vh;
    background-color: #12121200;
    background-image: url('../assets/imgs/background.png');
    background-position: 100%;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 18vh;
    align-items: center;
}


.header ul li a{
    text-decoration: none;
    color: white;
}

.header ul li a:hover{
    color: #F9FFB5;
}

#user-li{
    display: flex;
    align-self: flex-end;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 2%;
    font-size: small;
    margin-left: 30px;
}

.nav-bar-login{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2%;
    font-size: small;
}


.header ul li{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
}

.footer{
    width: 100%;
    height: 45vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    width: 100%;
    height: 34vh;
    display: flex;
    flex-direction: row;
}

.logo-icons{
    width: 30%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo-icons img{
    width: 57%;
    height: 40%;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.footer-links{
    width: 65%;
    height: 38vh;
    display: flex;
    color: white;
    justify-content: space-around;
}

.column{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column h1{
    font-size: medium;
}

.column a{
    text-decoration: none;
    color: #a2a2a2;
   
}

.column a:hover{
    color: #F9FFB5;
}

.logo-icons .icons i:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.noticia{
    width: 100%;
    /* height: 100vh; */
    background-image: url('../assets/imgs/allback.png');
}

.img-news-mand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
}

.img-news-mand img{
    width: 70%;
    height: 75vh;
}

.text-news{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: white;
}

.text-news #date{
    display: flex;
    align-self: flex-start;
}

.text-news p{
    color: #a2a2a2;
}

.text-news p, h1, h2, h3{
    margin-bottom: 2%;
}

.text-news h3{
    align-self: flex-start;
}

.text-news ul{
    margin-left: 5%;
    color: #a2a2a2;
    margin-bottom: 3%;
}

.film{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    color: white;
    text-align: center;
    
    /* margin-top: 30%; */
}

.film p{
    margin-top: 2%;
}

.img-film{
    width: 100%;
    height: 60vh;
}

#nova_esperanca{
    background-image: url("../assets/imgs/new-hope.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#imperio-contra{
    background-image: url("../assets/imgs/imperio-contra.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#retorno-jedi{
    background-image: url("../assets/imgs/retorno-jedi.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#ameaca-fantasma{
    background-image: url("../assets/imgs/ameaca-fantasma.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#ataque-clones{
    background-image: url("../assets/imgs/ataque-clones.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#vinganca-sith{
    background-image: url("../assets/imgs/vingaca-sith.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#despertar-forca{
    background-image: url("../assets/imgs/despertar-forca.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#ultimos-jedi{
    background-image: url("../assets/imgs/ultimos-jedi.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#ascensao-skywalker{
    background-image: url("../assets/imgs/ascensao-skywalker.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-top: 2%;
}

#margin-last{
    margin-bottom: 2%;
}


/* CSS BAR */
.progress{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 5px;
    background-color: #2c2c2c;
}

.bar{
    display: block;
    width: 0;
    height: inherit;
    background-color: #F9FFB5;
}

.banner-quizz{
    width: 100%;
    height: 70vh;
    background-image: url("../assets/imgs/quizz1.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quizz2{
    background-image: url("../assets/imgs/backquizz2.jpg");
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-quizz{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    color: #ffffff;
    width: 80%;
    text-align: start;
    height: fit-content;
    margin-bottom: 3%;
    /* justify-content: space-around; */
}

#centralizar{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header-quizz h1{
    color: white;
    margin: 0;
    font-size: x-large;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 600;
    align-self: center;
    font-family: "Star Wars";
    font-weight: 400;
}

.form-quizz {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 80%;
    justify-content: space-evenly;
    height: 100vh;
    font-size: large;
}

.content-quizz{
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 80%;
    justify-content: center;
    align-items: center;
    color: rgb(252, 252, 252);
    background-color: #000000;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 3%;
}

.content-quizz h1{
    color: white;
    margin: 0;
    font-size: x-large;
    /* margin-top: 3%; */
    margin-bottom: 3%;
    font-weight: 600;
    align-self: center;
}

.select-option{
    width: 50%;
    outline: 0;
    border: 0;
    box-shadow: none;  
    height: 7vh;
    margin-left: 2%;
}

select, option{
    font-size: 23px;
    background-color: #3a3a3a;
    border-style: none;
    color: white;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

  .question select{
    width: 97%;
    height: 10vh;
    font-size: x-large;
  }

.question{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-bottom: 3%;
    font-size: x-large;
}



.btn_quizz{
    width: 50%;
    align-self: center;
    height: 7vh;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #F9FFB5;
    color: #000000;
    font-size: 15px;
    border: 0;
    
}

#btn-validar:hover{
    background-color: #f9ffb500;
    border: #F9FFB5 1px solid;
    color: #F9FFB5;
    transition: all .2s ease-in-out;
}
.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    text-align: center;
    background-color: #21212191;
    height: fit-content;
    border-radius: 16px;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #painel-game{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 3%;
    display: none;
  }

  #btn-jogar{
    border: none;
    width: 30%;
    height: 15vh;
    border-bottom: 30px;
    border-radius: 15px;
    background-color: #F9FFB5;
    font-size: 20px;
  }

  #btn-jogar:hover{
    transition: 0.5s ease-in-out;
    background-color: #93966b;
  }

  .li-user{
    color: white;
    text-decoration: none;
  }

  .profile-main{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .sections-profile{
    width: 80%;
    height: 90vh;
    justify-content: space-between;
    display: flex;
    margin-top: 3%;
  }

  .section-left{
    background-color: #2C2C2C;
    width: 25%;
    height: inherit;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-right{
    background-color: #2C2C2C;
    width: 70%;
    height: inherit;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  
  }

  .section-right-header{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(204, 204, 204);
    margin-top: 3%;
  }

  .section-right-header h1{
    font-size: x-large;
    font-family: Star Wars;
    font-weight: 100;
  }

  .section-right-content{
    width: 100%;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
  }

  .dashboard1{
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .foto-profile{
    width: 80%;
    height: 30vh;
    background-image: url('../assets/imgs/profile.png');
    background-size: cover;
    border-radius: 50% 50%;
  }


  .section-left-content{
    width: 90%;
    height: 70vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    text-align: start;
  }
  
  .info-user{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }

  /* .fa-solid{
    margin-right: 10px;
  } */

  .info-content{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    text-align: center;
    align-items: center;
  }

  .logoff{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }

  #div_pontuacao{
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: center;
    height: 105vh;
    flex-direction: column;
    margin-bottom: 3%;
  }

  

  #div_pontuacao p{
    font-size: medium;
    margin-top: 2%;
    text-align: center;
  }

  #div_pontuacao a{
    text-decoration: none;
    width: 100%;
    align-self: center;
    justify-content: center;
    display: flex;
    text-align: center;
    color: #000000;
  }

  #div_pontuacao a:hover{
    color: #93966b;
    transition: 0.5s ease-in-out;
  }


  #img_jedi{
    height: 70vh;
    width: 100%;
    background-image: url('../assets/imgs/imgJedi.jpg');
    background-position: 00%;
    background-size: cover;
   
  }

  #img_sith{
    height: 70vh;
    width: 100%;
    background-image: url('../assets/imgs/img_sith.webp');
    background-position: 00%;
    background-size: cover;
  }

  .btn_refazer {
    border-style: none;
    height: 7vh;
    color: black;
    width: 30%;
    border-radius: 50px 50px;
    font-size: 16px;
    align-self: center;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2%;
  }
  .btn_refazer a{
    color: black;
  }

  #yellow{
    color: #F9FFB5;
  }

  #refazer{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    align-self: center;
  }

  .btn_refazer:hover{
    transition: 0.4s ease-in-out;
    color: white;
    background-color: #12121200;
    border: 2px solid white;
   
  }

  .content-quizzz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    width: 90%;
    margin-bottom: 3%;
    margin-top: 3%;
  }

 

  .cardquizz {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: 45%;
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
  }
  
  .card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    grid-template-row: auto auto;
    gap: 0.5ch;
    background: hsla(0, 0%, 84%, 0.5);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
  }
  
  .card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 40%;
    right: 1.5rem;
    transform: translateY(50%)
      translateY(
        calc(
          (var(--size) * 0.4)
        )
      )
      translateY(calc(var(--hover, 0) * (var(--size ) * -0.50)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
  }
  
  .card__action svg {
    aspect-ratio: 1;
    width: 50%;
  }
  
  .card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
  }
  
  .card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
  }
  
  .cardquizz:is(:hover, :focus-visible) {
    --hover: 1;
  }

  .part-baixo-profile{
    background-color: #2C2C2C;
    width: 80%;
    align-self: center;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .img-question{
    width: 95%;
    height: 60vh;
    background-color: #2C2C2C;
    background-size: cover;
    background-position-x: center;
  }

  #img-question1{
    background-image: url('../assets/imgs/q1.gif');
  }

  #img-question2{
    background-image: url('../assets/imgs/q2.gif');
  }

  #img-question3{
    background-image: url('../assets/imgs/q3.gif');
  }

  #img-question4{
    background-image: url('../assets/imgs/q4.gif');
  }

  #img-question5{
    background-image: url('../assets/imgs/q5.gif');
  }

  #img-question6{
    background-image: url('../assets/imgs/q6.gif');
  }

  #img-question7{
    background-image: url('../assets/imgs/q7.gif');
  }

  #img-question1-q1{
    background-image: url('../assets/imgs/qq1.gif');
  }

  #img-question2-q1{
    background-image: url('../assets/imgs/qq2.gif');
  }

  #img-question3-q1{
    background-image: url('../assets/imgs/qq3.gif');
  }

  #img-question4-q1{
    background-image: url('../assets/imgs/qq4.gif');
  }

  #img-question5-q1{
    background-image: url('../assets/imgs/qq5.gif');
  }

  #img-question6-q1{
    background-image: url('../assets/imgs/qq6.gif');
  }

  #img-question7-q1{
    background-image: url('../assets/imgs/qq7.gif');
  }
  
  #img-question8-q1{
    background-image: url('../assets/imgs/qq8.gif');
  }

  #img-question8-q1{
    background-image: url('../assets/imgs/qq8.gif');
  }

  #img-question9-q1{
    background-image: url('../assets/imgs/qq9.gif');
  }

  #img-question10-q1{
    background-image: url('../assets/imgs/qq10.gif');
  }

  #img-question11-q1{
    background-image: url('../assets/imgs/qq11.gif');
  }

  #img-question12-q1{
    background-image: url('../assets/imgs/qq12.gif');
  }

  #img-question13-q1{
    background-image: url('../assets/imgs/qq13.webp');
  }

  #img-question14-q1{
    background-image: url('../assets/imgs/qq14.gif');
  }

  #img-question15-q1{
    background-image: url('../assets/imgs/qq15.gif');
  }

  #span_name{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
  }

  #span_user{
    text-align: center;
  }

  .banner_game{
    height: 80vh;
    width: 100%;
    background-image: url('../assets/imgs/gameback.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner_game h1{
    color: white;
    font-size: 100px;
    mix-blend-mode: soft-light;
    font-family: Star Wars;
    font-weight: 100;
  }

  .game_content p{
    color: #c3c3c3;
    text-align: center ;
    font-size: x-large;
    width: 70%;
  }

  #game_sessao{
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gifgame{
    background-image: url('../assets/imgs/gifgame.gif');
    width: 50%;
    background-size: cover;
    height: inherit;
    background-position: 200%;
  }

  .game_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column ;
    height: 59vh;
    width: 50%;
  }

  .game_content button{
    width: 50%;
    height: 10vh;
    border-radius: 50px;
    background-color: #f6431c;
    border-style: none;
    font-size: larger;
    color: white;
  }
  
  .game_content h1{
    color: white;
    font-family: Star Wars;
  }

  .game_content button:hover{
    transition: 0.4s ease-in-out;
    background-color: #12121200;
    border: 1px solid #f6431c;
  }

  #game{
    height: 65vh;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
  }

  #counter{
    color: white;
  }

  .relogio{
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50px;
  }

  .group_itens{
    height: 50vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .lembrete p{
    font-size: 25px;
    text-align: center;
  }

  .inputbuton{
    background-color: #000000;
    height: 20vh;
    width: 100%;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }

  #input_personagem{
    width: 50%;
    height: 7vh;
    border-radius: 50px;
    border-style: none;
    padding-left: 10px;
  }

  .inputbuton button{
    height: 6vh;
    width: 13%;
    border-radius: 50px;
    border-style: none;

  }

  .inputbuton button:hover{
    transition: 0.3s ease-out;
    transform: scale(1.1);
  }

  #naoconsigo{
    background-color: #fc8686;
  }

  .lembrete span{
    color: #f6431c;
  }

  #final_game{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
  }

  #final_game button{
    width: 100%;
    height: 7vh;
    border-radius: 50px;
    border-style: none;
    color: black;
  }

  #final_game button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  #final_game button:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(19, 76, 19);
    color: white;
  }

  #result{
    color: white;
  }

  #before_quizz{
    width: 80%;
    height: 60vh;
    background-color: #000;
    margin-bottom: 3%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  #before_quizz h1{
    margin-top: 2%;
    font-family: Star Wars;
  }

  .group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }

  #play{
    height: 13vh;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(130, 0, 0);
    border-style: none;
    font-size: larger;
    color: white;
  }

  #play2{
    height: 13vh;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(0, 151, 189);
    border-style: none;
    font-size: larger;
    color: white;
  }

  #play:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: rgb(92, 0, 0);
  }

  #play2:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: rgb(1, 69, 87);
  }

  

  @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body {
    background-color: #E4E3E3 !important;
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
.flexborder {
    width: 85vw;
    height: 100vh;
    overflow: scroll;
    margin-top: 3vw;
}
.flexborder::-webkit-scrollbar {
    display: none;
}
.roundcard {
    height: 70vh;
    width: 100%;
    background-color: #fff;
    border-radius: 3%;
    box-shadow: 0px 7px 40px #8e8e8e;
    margin-left: 7vw;
    margin-top: 5vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.bottomroom {
    width: 100%;
    height: 20vh;
}
.roundimage {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}
.cardtitle {
    padding-left: 8%;
    margin-top: 5vh;
    text-transform: uppercase;
    color: #060606;
    font-size: 28px;
    letter-spacing: 2px;
}
.cardsubtitle {
    padding-left: 8%;
    margin-top: 1vh;
    text-transform: uppercase;
    color: #060606;
    font-size: 21px;
    letter-spacing: 1px;
}
.cardsubsubtitle {
    padding-left: 8%;
    margin-top: 1vh;
    text-transform: uppercase;
    color: #6C7A89;
    font-size: 14px;
}
.starwarstop {
    width: 100%;
    height: 6%;
    background-color: #fff !important;
    z-index: 9000;
    padding: 1%;
    box-shadow: 0px 2px 40px #8e8e8e;
}
.logoicon {
    width: 40px;
    height: 40px;
    margin-left: 5vw;
}
.centerimage {
    width: 150px;
    height: 20px;
    margin-top: -4vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}